# Ignore everything
*

# But not these files.
!.gitignore
!.gitconfig
!.gitignore_global
!.gitattributes_global
!.vimrc
!.zshrc
!README.md

# Ignore so we won't commit these in the allowed dirctories.
.DS_Store
